html{
  background-color: #e4e9fd;
  background-image: -webkit-linear-gradient(65deg, #1f667c 50%, #b3dae7 50%);
  min-height: 1000px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}
h1{
  color: #000;;
  padding: 10px;
}